GaroonAPI/Web References/GaroonService/bulletin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://schemas.cybozu.co.jp/base/2008" xmlns="http://schemas.cybozu.co.jp/bulletin/2008" elementFormDefault="qualified" targetNamespace="http://schemas.cybozu.co.jp/bulletin/2008" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="base.xsd" namespace="http://schemas.cybozu.co.jp/base/2008" />
  <xsd:complexType name="CategoryInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="root" type="CategoryType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoryType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_id" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="create_time" type="xsd:date" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_id" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modify_time" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="categories" type="CategoriesType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="code" type="xsd:string" use="required" />
    <xsd:attribute name="list_index" type="xsd:unsignedInt" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CategoriesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="category" type="CategoryType" />
    </xsd:sequence>
    <xsd:attribute name="parent_id" type="base:IDType" use="required" />
    <xsd:attribute name="parent_code" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:complexType name="TopicsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="topic">
        <xsd:complexType>
          <xsd:attribute name="id" type="base:IDType" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="category_id" type="base:IDType" use="required" />
  </xsd:complexType>
  <xsd:complexType name="TopicType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="content" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="follow">
        <xsd:complexType>
          <xsd:attribute name="id" type="base:IDType" use="required" />
          <xsd:attribute name="number" type="base:NonBlankStringType" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="creator" type="base:ChangeLogType" />
      <xsd:element name="modifier" type="base:ChangeLogType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="creator_group_id" type="base:IDType" use="optional" />
    <xsd:attribute name="version" type="base:VersionType" use="required" />
    <xsd:attribute name="manually_enter_sender" type="xsd:string" use="optional" />
    <xsd:attribute name="subject" type="xsd:string" use="required" />
    <xsd:attribute name="is_draft" type="xsd:boolean" use="optional" />
    <xsd:attribute name="start_datetime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="end_datetime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="start_is_datetime" type="xsd:boolean" use="optional" />
    <xsd:attribute name="end_is_datetime" type="xsd:boolean" use="optional" />
    <xsd:attribute name="can_follow" type="xsd:boolean" use="required" />
    <xsd:attribute name="published" type="xsd:boolean" use="optional" />
    <xsd:attribute name="unread" type="xsd:boolean" use="optional" />
    <xsd:attribute name="expired" type="xsd:boolean" use="optional" />
    <xsd:attribute name="category_id" type="base:IDType" use="required" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>
  <xsd:element name="content">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="file">
          <xsd:complexType>
            <xsd:attribute name="id" type="base:IDType" use="required" />
            <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
            <xsd:attribute name="size" type="xsd:unsignedLong" use="optional" />
            <xsd:attribute name="mime_type" type="xsd:string" use="optional" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="body" type="xsd:string" use="required" />
      <xsd:attribute name="html_body" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FollowsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="follow">
        <xsd:complexType>
          <xsd:attribute name="id" type="base:IDType" use="required" />
          <xsd:attribute name="number" type="base:NonBlankStringType" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="topic_id" type="base:IDType" use="required" />
  </xsd:complexType>
  <xsd:element name="follows">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="follow" type="FollowType" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:key name="follow_key">
      <xsd:selector xpath="follow" />
      <xsd:field xpath="@id" />
    </xsd:key>
  </xsd:element>
  <xsd:complexType name="FollowType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="file">
        <xsd:complexType>
          <xsd:attribute name="id" type="base:IDType" use="required" />
          <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
          <xsd:attribute name="size" type="xsd:unsignedLong" use="optional" />
          <xsd:attribute name="mime_type" type="xsd:string" use="optional" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="creator" type="base:ChangeLogType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="number" type="base:NonBlankStringType" use="required" />
    <xsd:attribute name="text" type="xsd:string" use="required" />
    <xsd:attribute name="html_text" type="xsd:string" use="optional" />
  </xsd:complexType>
</xsd:schema>