GaroonAPI/Web References/GaroonService/cabinet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://schemas.cybozu.co.jp/base/2008" xmlns="http://schemas.cybozu.co.jp/cabinet/2008" elementFormDefault="qualified" targetNamespace="http://schemas.cybozu.co.jp/cabinet/2008" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="base.xsd" namespace="http://schemas.cybozu.co.jp/base/2008" />
  <xsd:complexType name="FolderInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="root" type="FolderType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FolderType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="title" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_id" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="create_time" type="xsd:date" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_id" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modify_time" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="folders" type="FoldersType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="code" type="xsd:string" use="required" />
    <xsd:attribute name="list_index" type="xsd:unsignedInt" use="required" />
  </xsd:complexType>
  <xsd:complexType name="FoldersType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="folder" type="FolderType" />
    </xsd:sequence>
    <xsd:attribute name="parent_id" type="base:IDType" use="required" />
    <xsd:attribute name="parent_code" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:complexType name="FileInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="files" type="FilesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimpleFileType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="title" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="max_version" type="xsd:integer" />
      <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="size" type="xsd:unsignedInt" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mime_type" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_id" type="base:IDType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="create_time" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_id" type="base:IDType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_login_name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_display_name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modify_time" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="folder_id" type="base:IDType" use="required" />
  </xsd:complexType>
  <xsd:complexType name="SimpleFileInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="title" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="max_version" type="xsd:integer" />
      <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="size" type="xsd:unsignedInt" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mime_type" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_id" type="base:IDType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="creator_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="create_time" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_id" type="base:IDType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_login_name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modifier_display_name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="modify_time" type="xsd:dateTime" />
    </xsd:sequence>
    <xsd:attribute name="id" type="base:IDType" use="required" />
    <xsd:attribute name="folder_id" type="base:IDType" use="required" />
  </xsd:complexType>
  <xsd:complexType name="FileType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="SimpleFileType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="histories">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="history" type="HistoryType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FilesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="file" type="FileType" />
    </xsd:sequence>
    <xsd:attribute name="parent_id" type="base:IDType" use="required" />
    <xsd:attribute name="parent_code" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:complexType name="HistoryType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="version" type="xsd:unsignedInt" />
      <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:unsignedInt" />
      <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="action" type="xsd:unsignedInt" />
      <xsd:element minOccurs="1" maxOccurs="1" name="comment" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_id" type="base:IDType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_login_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modifier_display_name" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modify_time" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>